<p>Bonjour,</p>

<p>Votre trajet {{ ride.lieuDepart }} ➜ {{ ride.lieuArrivee }} avec {{ driver.pseudo }} est terminé.</p>

<p>Vous pouvez laisser un avis sur le conducteur en cliquant ici :</p>
<p><a href="{{ reviewUrl }}">{{ reviewUrl }}</a></p>

<p>Merci pour votre retour !</p>
